:root {
  font-family: "Inter", system-ui, sans-serif;
  color: #101828;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
